body {
    background: black;
}

.navbar { /* main navbar thingy*/
    width: auto;
    height: 50px;
    background: #333333;
    border-radius: 3rem;
    margin: 6px 6px 20px 6px;
    padding: 5px;
}

.tile {

}

p, h1, h2, h3, h4, h5, h6 {
    color: white; /* make the text oposite the website*/
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

.navbar a {
    display: inline-flex;
    align-items: center;      /* vertical center */
    justify-content: center;  /* horizontal center (optional) */
    height: 50px;            /* set a height to center within */
    text-decoration: none;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
}

.container {
    display: grid;
    gap: 10px;
    grid-template-columns: auto /* im in the middle*/auto auto;
}

.tile {
    width: auto;
    background: #333333;
    height: 200px;
    border-radius: 30px;
    align-content: center;
}

.tile img {
    border-radius: 50%;
    width: 200px;
    padding: 10px;
    opacity: 0.8;
}