/* Overall body and nav styles */
body {
    font-family: Arial, sans-serif;
    background-color: #040506;
    color: #c7c7c7;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #040506;
    border-bottom: 2px solid red;
    padding: 8px;
    position: relative;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #777777;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

nav ul li a:hover {
    background-color: #31363a;
}

.material-symbols-outlined {
    font-size: 24px;
    margin-right: 8px;
    vertical-align: middle;
}

/* Hamburger menu styles */
.hamburger {
    background: none;
    border: none;
    color: #c7c7c7;
    font-size: 24px;
    cursor: pointer;
    display: none;
    margin-left: auto;
}

#hamburger-menu {
    display: none;
    flex-direction: column;
    background-color: #16191b;
    position: absolute;
    top: 60px;
    right: 10px;
    width: 150px;
    padding: 10px;
}

#hamburger-menu li {
    margin-bottom: 10px;
}

#home-button {
    margin-right: auto; /* Keep the home button on the left */
    display: flex;
}

/* Responsive design */
@media (max-width: 850px) {
    #menu { /* Only hide the regular menu items */
        display: none;
    }

    .hamburger {
        display: block; /* Show the hamburger icon */
    }
}
