:root {
    /* Main Accent Colors */
    --accent-color: #773ea5;
    --accent-color-hover: #5d2d84;
    --accent-color-light: #a377ff;
    --accent-color-border: #773ea5;

    /* Danger Colors */
    --danger-color: #dc3545;
    --danger-color-hover: #a53131;
    --danger-color-light: #f44336;
    --danger-color-border: #dc3545;

    /* Success Colors */
    --success-color: #34931d;
    --success-color-hover: #277016;
    --success-color-light: #56c63b;
    --sucess-color-border: #32811f;

    /* Warning Colors */
    --warning-color: #ffd941;
    --warning-color-hover: #ddad44;
    --warning-color-light: #fff9b8;
    --warning-color-border: #ffcf57;

    /* Disabled Colors */
    --disabled-color: #676767;
    --disabled-color-hover: #555;
    --disabled-color-light: #888;
    --disabled-color-border: #676767;

    /* Basic Colors (for like unselected buttons or something
    should be similar colors to main UI) */
    --basic-color: #373737;
    --basic-color-hover: #303030;
    --basic-color-light: #4e4e4e;
    --basic-color-border: #333333;

    /* Text Colors */
    --text-color: #ffffff;
    --text-color-secondary: #888;
    --text-color-button: #ffffff;
    --text-color-link: #7532bd;
    --text-color-link-hover: #a377ff;

    /* UI Colors */
    --background-color: #1a1a1a;
    --foreground-color: #212121;
    --panel-color: #2c2c2c; /* Just forground 2 */
    --sidebar-color: #252526;
    --popup-color: #2c2c38;
    --text-bg-hover-color: #4b4b4b;
    --code-block-color: #333;
    --border-color: #333;

    /* fonts */
    --monospaced-font: 'Fira Code';
    --standard-font: 'Segoe UI';

    /* radius */
    --panel-radius: 20px; /* for editor panels */
    --button-radius: 20px; /* for buttons only */
    --popup-radius: 20px; /* for popups */
    --image-radius: 20px;
    --input-radius: 10px;

    /* border width */
    --panel-border-width: 1px; /* for editor panels */
    --button-border-width: 1px; /* for buttons only */

    /* margins / padding*/
    --window-gap: 10px; /* gap between panels and window border */
    --inner-gap: 10px; /* gap between panels */
    --panel-padding: 20px; /* padding inside panels */
}